[submodule "_checkouts/sched_msg_interception_erlang"]
	path = _checkouts/sched_msg_interception_erlang
	url = git@github.com:Heimdall-message-interception-framework/heimdall.git
	branch = main
[submodule "_checkouts/ra"]
	path = _checkouts/ra
	url = git@github.com:Heimdall-message-interception-framework/ra.git
	branch = main
