[submodule "_checkouts/sched_msg_interception_erlang"]
	path = _checkouts/sched_msg_interception_erlang
	url = git-rts@gitlab.mpi-sws.org:fstutz/sched_msg_interception_erlang.git
	branch = typespec
[submodule "_checkouts/ra"]
	path = _checkouts/ra
	url = git-rts@gitlab.mpi-sws.org:rep-sys-group/ra.git
	branch = submodules
